h1 {
    display: block;
    font-size: 2em;
    margin-top: 6em;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: rgb(0, 162, 255);
  }

  h2 {
    display: block;
    font-size: 2em;
    margin-top: 0.1em;
    margin-bottom: 10mm;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: rgb(38, 0, 255);
  }

  